In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('airlines_data_part.csv')

In [3]:
df.dtypes

passenger_name     object
day                 int64
month               int64
departure_city     object
arrival_city       object
sales             float64
dtype: object

In [6]:
df.describe()

                day         month         sales
count  1.016774e+06  1.016774e+06  1.016774e+06
mean   1.396050e+01  7.316214e+00  1.061688e+05
std    8.664978e+00  5.176020e-01  9.912896e+04
min    1.000000e+00  6.000000e+00  3.400000e+03
25%    7.000000e+00  7.000000e+00  4.390000e+04
50%    1.300000e+01  7.000000e+00  7.520000e+04
75%    2.100000e+01  8.000000e+00  1.342000e+05
max    3.100000e+01  8.000000e+00  1.526100e+06

In [7]:
df.sales.describe()

count    1.016774e+06
mean     1.061688e+05
std      9.912896e+04
min      3.400000e+03
25%      4.390000e+04
50%      7.520000e+04
75%      1.342000e+05
max      1.526100e+06
Name: sales, dtype: float64

In [11]:
df['sales'].mean()

106168.84725612575

In [13]:
df['sales'].median()

75200.0