In [1]:
import psycopg2 as pg2
import pandas as pd

In [2]:
data = pd.read_html('https://en.wikipedia.org/wiki/Programming_languages_used_in_most_popular_websites')

In [3]:
df = data[0]

In [11]:
df

,Websites,Popularity,Front_end,Back_end,Database,Notes
0,Google[2],1600000000,"JavaScript, TypeScript","C, C++, Go,[3] Java, Python, Node","Bigtable,[4] MariaDB[5]",The most used search engine in the world
1,Facebook,1120000000,"JavaScript, Flow","Hack, PHP (HHVM), Python, C++, Java, Erlang, D...","MariaDB, MySQL,[9] HBase, Cassandra[10]",The most visited social networking site
2,YouTube,1100000000,JavaScript,"C, C++, Python, Java,[11] Go[12]","Vitess, BigTable, MariaDB[5][13]",The most popular video sharing site [YouTube i...
3,Yahoo,750000000,JavaScript,PHP,"PostgreSQL, HBase, Cassandra, MongoDB,[14]",NaN
4,Amazon,500000000,JavaScript,"Java, C++, Perl[15]","DynamoDB, RDS/Aurora, Redshift[16]",Popular Internet shopping site
5,Wikipedia,475000000,JavaScript,PHP,MariaDB[17],"A free online encyclopedia based on MediaWiki,..."
6,Twitter,290000000,JavaScript,"C++, Java,[18] Scala,[19] Ruby",MySQL[20],Popular social network
7,Bing,285000000,JavaScript,"C++, C#","Microsoft SQL Server, Cosmos DB",Search engine from Microsoft.
8,eBay,285000000,JavaScript,"Java,[21] JavaScript,[22] Scala[23]",Oracle Database,Online auction house.
9,MSN,280000000,JavaScript,C#,Microsoft SQL Server,"An email client, for simple use. Previously kn..."
10,LinkedIn,260000000,JavaScript,"Java, JavaScript,[24] Scala",Venice[25][26],World's largest professional network.
11,Pinterest,250000000,JavaScript,"Python (Django),[27] Erlang","MySQL, Redis[28]",Search engine for ideas.
12,WordPress.com,240000000,JavaScript,PHP,MariaDB[29],Website manager software.

In [10]:
df = df.rename(columns = {'Popularity(unique visitors per month)[1]': 'popularity',
                         'Front-end(Client-side)': 'front_end',
                          'Back-end(Server-side)': 'back_end' }
                )

(columns = {
'':''})

In [14]:
conn = pg2.connect(host ='localhost', port = 5432, dbname='programming', user='gemarusi', password='Uzizero0830')

In [20]:
from sqlalchemy import create_engine

engine = create_engine('postgresql+psycopg2://gemarusi:Uzizero0830@localhost:5432/programming')

df.to_sql('popular_languages', engine, if_exists='append', index=False)